body {
  margin: 0px;
  font-family: 'Open Sans', Helvetica, sans-serif;
  height: 100%;
}

html {
  height: 100%;
}
/*

img {
  float: left;
  padding-right: 10px;
}
*/

.circle {
    border-radius: 50%;
    behavior: url(PIE.htc);
}
.type1 {
    padding: 5px;
    width: 50px;
    height: 50px;
    background: #cbcbcb;
    text-align: center;
    vertical-align: middle;
    border: 3px solid #000;
    margin-bottom: 5px;
}

#leftBar {
    position: absolute;
    z-index: 1000;
    padding: 10px;
}


#add-route {
    display:inline-block;
    cursor: pointer;
}

#about {
    display:inline-block;
    cursor: pointer;
}

#cancel {
    display:inline-block;
    cursor: pointer;
}


.icon-hover:hover {
    background: aqua;
}

.icon-click {
    background: #3585a3;
}

#add-point {
    display:inline-block;
    cursor: pointer;
}

p {
  font-size: 15px;
  line-height: 25px;
}

h1 {
  line-height: 60px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: lighter;
}

#wrapper {
  width: 100%;
    height: 100%;
}

#map {
  width: 100%;
  margin: 0 auto;
  height: 100%;
}

#controls {
  width: 100%;
  margin: 0 auto;
  float: left;
}

#form {
  margin-top: 5px;
  font-size: 12px;
  text-align: left;
  line-height: 16px;
  width:375px;
  float: left;
}

#header {
  margin-top: 0px;
  margin-bottom: 0px;
}

#credits p {
  margin-top: 5px;
  font-size: 12px;
  text-align: right;
  line-height: 16px;
}


.j-leaflet-draw-tooltip{
	visibility: visible;
}

.pointing{
	cursor: pointer;
}